body{
    margin: 0 30%;
    color: gray;
}

h2{
    text-align: center;
}

ul{
    color: black;
}

input{
    display: none;
}

span.edit{
    display: none;
}

input.edit{
    display: initial;
}
